.aspyapps
.DS_Store
.bashrc
Makefile
build.sh
publish.sh
var/
.venv
.venv-build
.aspy_cache
**/*.egg-info/
.make-env
.vscode/settings.json
app.log
dist/
.zshrc
packages/**/requirements*.*
__pycache__/
*.py[cod]
*.dist-info/
packages/aspynotifications/pyproject.toml
packages/aspynotifications/pyproject.prod.toml
